<h2> New movie </h2>

<form action="/create_movie">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="url" placeholder="URL of movie picture">
  <input type="text" name="description" placeholder="Description">
  <input type="submit">
</form>